@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SchoolAppCore MVC</h1>
    <p class="lead"></p>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">SELab07_523K0073</h5>
                <ol class="text-start">
                </ol>
                <p class="mb-0">Developed by Thiha Aung.</p>
            </div>
        </div>
    </div>
</div>
